* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: 55px;
    margin-top: 62px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

header > span {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50.06px;
    height: 55px;
}

header > span > h2 {
    font-size: 36px;
    color: #445964;

}

.buttonMenu{
    display: none;
}

.btnOpen{
    display: none;
}

header > nav {
    display: flex;
    width: 37%;
    justify-content: space-between;
    gap: 5px;
}

nav > a {
    font-size: 20px;
    font-weight: 500;
    color: #445964;
}

main {
    display: flex;
    width: 100%;
    height: 697px;
    justify-content: center;
    align-items: center;
    margin-top: 172px;
}

.inicio {
    display: flex;
    width: 1417px;
    justify-content: space-between;
}

.saudacao {
    width: 545px;
    height: 650.55px;
    display: flex;
    flex-direction: column;
    color: #445964;
    margin-top: 41px;
    margin-left: 2%;
}

.title {
    width: 545px;
    height: 240px;
    margin-bottom: 130px;
}

.title > h3 {
    font-size: 24px;
    font-weight: 500;
}

.bigTitle {
    font-size: 72px;
}

.button {
    width: 310px;
    height: 65px;
    display: flex;
    background-color: #263138;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 172px;
}

.button > a {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.links {
    width: 172px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.programador{
    width: 45%;
    height: 10%;
    margin-right: 2%;
    align-self: center;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    background-image: url('/img/Foto.svg');
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
}

#sobre > span {
    display: flex;
    width: 764px;
    margin-bottom: 71px;
    align-items: center;
    justify-content: space-between;
    margin-top: 86px;
}

#sobre > span > h1{
    font-size: 64px;
    color: #445964;
    font-weight: 700;
}

#sobre > h3 {
    width: 992px;
    font-size: 24px;
    text-align: center;
}

.hardskills{
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, auto);
    /* repeat(nº repetições, oq vai repetir) */
    gap: 46px;
    margin-top: 108px;
    margin-bottom: 233px;
}

.titleHard {
    display: flex; 
    gap: 16px;
    grid-column: 1 / -1;
    margin-bottom: 16px;
}
.titleHard > h1 {
    font-size: 64px;
    color: #263138;
}

.hard{
    display: flex;
    width: 216px;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 25px;
}

.hard > h3 {
    font-size: 36px;
    font-weight: 700;
    color: #445964
}

.circles{
    display: flex;
    gap: 4px;
}

.circlefull{
    width: 38px;
    height: 38px;
    background-color: #445964;
    border-radius: 100px;
    border: 1px solid #445964;
}

.circle {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid #445964;
}

#portifolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.jobs {
    display: flex;
    width: 1266px;
    gap: 90px;
    align-items: end;
    margin-bottom: 90px;
}

.titlePort > h1{
    font-size: 64px;
    color: #445964;
    margin-top: -30px;
}

.jobs > h1 {
    font-size: 64px;
}

.jobs > h3 {
    font-size: 24px;
    color: #445964;
    width: 398px;
    margin-bottom: 16px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0px 30px;
    margin-bottom: 258px;
}

.cards > nav{
    display: flex;
    width: 683px;
    height: 50px;
    gap: 20px;
    grid-column: 1 / -1;
    margin-bottom: 86px;
}

.cards > nav > a {
    padding: 10px 25px;
    background-color: #445964;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 500;

}

.card1 {
    width: 340px;
    height: 190px;
    background-color: #263138;
    border-radius: 20px;
}

.card2 {
    width: 340px;
    height: 250px;
    background-color: #445964;
    border-radius: 20px;
    margin-bottom: 50px;
}
.card3 {
    width: 340px;
    height: 190px;
    background-color: #DFDFDF;
    border-radius: 20px;
}
.card4 {
    width: 340px;
    height: 250px;
    background-color: #DFDFDF;
    border-radius: 20px;
    margin-top: -60px;
}
.card5 {
    width: 340px;
    height: 190px;
    background-color: #263138;
    border-radius: 20px;
}
.card6 {
    width: 340px;
    height: 250px;
    background-color: #445964;
    border-radius: 20px;
    margin-top: -60px;
}


#servicos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#servicos > h1 {
    font-size: 64px;
    font-weight: 500;
    color: black;
    margin-bottom: 117px;
    display: flex;
    gap: 19px;
    align-self: center;

}

.asideTitle > h1{
    font-size: 64px;
    color: #445964;
}

#servicos > img {
    height: 106px;
}

#servicos > h4 {
    display: flex;
    font-size: 36px;
    font-weight: 500;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
}

#servicos > p {
    font-size: 24px;
    color: #445964;
    margin-bottom: 14px;
}

.useTitle {
    display: flex;
    font-size: 36px;
    font-weight: 500;
    color: black;
}


.icons {
    display: flex;
    gap: 99px;
    margin-bottom: 117px;
}

#resumo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 143px;
    margin-bottom: 110px;
}

#resumo > span {
    display: flex;
    flex-direction: row;
    width: 1012px;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 170px;
}

#resumo > span > p {
    width: 402px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    margin-bottom: 3px;
}

#resumo > span > h1 {
    width: 349px;
    font-size: 64px;
    text-align: right;
}

.titleResumo > h1 {
    font-size: 64px;
}

.cargos {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 61px;
    height: 280px;
    justify-content: center;
    margin-bottom: 52px;
}

.cargo {
    width: 530px;
    height: 280px;
    background-color: #263138;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.cargo > h3 {
    font-size: 36px;
    color: #445964;
    margin-top: 37px;
    margin-bottom: 25px;
}

.cargo > p {
    width: 495px;
    color: #ffffff;
    font-size: 24px;
}

.cargo2 {
    width: 530px;
    height: 280px;
    background-color: #445964;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    margin-top: -29px;
}

.cargo2 > h3 {
    font-size: 36px;
    color: #263138;
    margin-top: 37px;
    margin-bottom: 25px;
}

.cargo2 > p {
    width: 490px;
    color: #ffffff;
    font-size: 24px;
}

.aspas {
    display: flex;
    width: 90px;
    height: 90px;
    margin-bottom: 13px;
}

.nota {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    gap: 6px;
    justify-content: center;
}

.nota > h3{
    display: flex;
    font-size: 24px;

    color: #445964;
}


.dark > h3{
    font-size: 24px;
    color: #445964;
    font-weight: 800;
}

.frase > h3 {
    font-size: 24px;

}

.author {
    display: flex;
    flex-direction: row;
    font-size: 36px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 218px;
    gap: 40px;
    background-color: #263138;
}

.nomeContato {
    display: flex;
    width: 1100px;
    height: 55px;
    justify-content: space-between;
    margin-top: 81px;
}

.nomeContato > span {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.nomeContato > span > h2 {
    color: #ffffff;
    display: flex;
    font-size: 36px;
}

#contato > p {
    color: #ffffff;
    display: flex;
    margin-bottom: 18px;
}

.nomeContato > .links {
    display: flex;
    width: 172px;
    margin-right: 0px;
}

@media screen and (min-width: 578px) and (max-width:1500px){

    main {
        display: flex;
        width: 100%;
        height: 620px;
        justify-content: center;
        align-items: center;
        margin-top: 87px;
    }
    
    .inicio {
        width: 1192px;
    }
    
    .saudacao {
        width: 455px;
        height: 482px;
    }
    
    .title {
        width: 455px;
        height: 202px;
        margin-bottom: 72px;
    }
    
    .bigTitle {
        font-size: 60px;
    }
    
    .button {
        width: 290px;
        margin-bottom: 103px;
    }
    
    .button > a {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
    
    .links {
        width: 158px;
    }

    .icon > img{
        width: 150px;
        height: 150px;
    }
    
    #sobre > span {
        width: 602px;
        height: 150px;
        margin-bottom: 66px;
        margin-top: 80px;
    }
    
    #sobre > span > h1{
        font-size: 50px;
    }
    
    #sobre > h3 {
        width: 772px;
    }
    
    .hardskills{

        /* repeat(nº repetições, oq vai repetir) */
        gap: 46px;
        margin-top: 108px;
        margin-bottom: 0px;
    }
    
    .titleHard {
        display: flex; 
        gap: 16px;
        grid-column: 1 / -1;
        margin-bottom: 16px;
    }
    .titleHard > h1 {
        font-size: 50px;
        color: #263138;
    }
    
    .hard{
        display: flex;
        width: 166px;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 25px;
    }
    
    .hard > h3 {
        font-size: 30px;
    }
    
    .circles{
        display: flex;
        gap: 4px;
    }
    
    .circlefull{
        width: 28px;
        height: 28px;
    }
    
    .circle {
        width: 28px;
        height: 28px;
    }
    
    #portifolio {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .jobs {
        display: flex;
        width: 1266px;
        gap: 90px;
        align-items: end;
        margin-bottom: 90px;
    }
    
    .titlePort > h1{
        font-size: 64px;
        color: #445964;
        margin-top: -30px;
    }
    
    .jobs > h1 {
        font-size: 64px;
    }
    
    .jobs > h3 {
        font-size: 24px;
        color: #445964;
        width: 398px;
        margin-bottom: 16px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 0px 30px;
        margin-bottom: 258px;
    }
    
    .cards > nav{
        display: flex;
        width: 683px;
        height: 50px;
        gap: 20px;
        grid-column: 1 / -1;
        margin-bottom: 86px;
    }
    
    .cards > nav > a {
        padding: 10px 25px;
        background-color: #445964;
        color: #ffffff;
        border-radius: 20px;
        font-weight: 500;
    
    }
    
    .card1 {
        width: 340px;
        height: 190px;
        background-color: #263138;
        border-radius: 20px;
    }
    
    .card2 {
        width: 340px;
        height: 250px;
        background-color: #445964;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    .card3 {
        width: 340px;
        height: 190px;
        background-color: #DFDFDF;
        border-radius: 20px;
    }
    .card4 {
        width: 340px;
        height: 250px;
        background-color: #DFDFDF;
        border-radius: 20px;
        margin-top: -60px;
    }
    .card5 {
        width: 340px;
        height: 190px;
        background-color: #263138;
        border-radius: 20px;
    }
    .card6 {
        width: 340px;
        height: 250px;
        background-color: #445964;
        border-radius: 20px;
        margin-top: -60px;
    }
    
    
    #servicos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    #servicos > h1 {
        font-size: 64px;
        font-weight: 500;
        color: black;
        margin-bottom: 117px;
        display: flex;
        gap: 19px;
        align-self: center;
    
    }
    
    .asideTitle > h1{
        font-size: 64px;
        color: #445964;
    }
    
    #servicos > img {
        height: 106px;
    }
    
    #servicos > h4 {
        display: flex;
        font-size: 36px;
        font-weight: 500;
        gap: 10px;
        align-items: center;
        margin-bottom: 40px;
    }
    
    #servicos > p {
        font-size: 24px;
        color: #445964;
        margin-bottom: 14px;
    }
    
    .useTitle {
        display: flex;
        font-size: 36px;
        font-weight: 500;
        color: black;
    }
    
    
    .icons {
        display: flex;
        gap: 99px;
        margin-bottom: 117px;
    }
    
    #resumo {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 143px;
        margin-bottom: 110px;
    }
    
    #resumo > span {
        display: flex;
        flex-direction: row;
        width: 1012px;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 170px;
    }
    
    #resumo > span > p {
        width: 402px;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        margin-bottom: 3px;
    }
    
    #resumo > span > h1 {
        width: 349px;
        font-size: 64px;
        text-align: right;
    }
    
    .titleResumo > h1 {
        font-size: 64px;
    }
    
    .cargos {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 61px;
        height: 280px;
        justify-content: center;
        margin-bottom: 52px;
    }
    
    .cargo {
        width: 530px;
        height: 280px;
        background-color: #263138;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        text-align: center;
    }
    
    .cargo > h3 {
        font-size: 36px;
        color: #445964;
        margin-top: 37px;
        margin-bottom: 25px;
    }
    
    .cargo > p {
        width: 495px;
        color: #ffffff;
        font-size: 24px;
    }
    
    .cargo2 {
        width: 530px;
        height: 280px;
        background-color: #445964;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        text-align: center;
        margin-top: -29px;
    }
    
    .cargo2 > h3 {
        font-size: 36px;
        color: #263138;
        margin-top: 37px;
        margin-bottom: 25px;
    }
    
    .cargo2 > p {
        width: 490px;
        color: #ffffff;
        font-size: 24px;
    }
    
    .aspas {
        display: flex;
        width: 90px;
        height: 90px;
        margin-bottom: 13px;
    }
    
    .nota {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        gap: 6px;
        justify-content: center;
    }
    
    .nota > h3{
        display: flex;
        font-size: 24px;
    
        color: #445964;
    }
    
    
    .dark > h3{
        font-size: 24px;
        color: #445964;
        font-weight: 800;
    }
    
    .frase > h3 {
        font-size: 24px;
    
    }
    
    .author {
        display: flex;
        flex-direction: row;
        font-size: 36px;
    }
    
    #contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 218px;
        gap: 40px;
        background-color: #263138;
    }
    
    .nomeContato {
        display: flex;
        width: 1100px;
        height: 55px;
        justify-content: space-between;
        margin-top: 81px;
    }
    
    .nomeContato > span {
        display: flex;
        width: 320px;
        justify-content: space-between;
    }
    
    .nomeContato > span > h2 {
        color: #ffffff;
        display: flex;
        font-size: 36px;
    }
    
    #contato > p {
        color: #ffffff;
        display: flex;
        margin-bottom: 18px;
    }
    
    .nomeContato > .links {
        display: flex;
        width: 172px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 576px) {

    /* CABEÇALHO */
    header {
        height: 44px;
        margin-top: 18px;
    }

    .logo {
        width: 40px;
        height: 43.95px;
    }

    header > span {
        width: 80%;
        justify-content:flex-start;
        gap: 10px;
    }

    header > span > h2 {
        font-size: 20px;
        align-self: center;
    }

    /*  MENU LATERAL */
    .btnOpen {
        display: flex;
        width: 40px;
        height: 38px;
    }

    .overlay-menu {
        background-color: #000;
        opacity: 0.6;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 88888;

    }

    /* MENU MOBILE */

    .buttonMenu {
        display: flex;
        background-color: #445964;
        position: fixed;
        top: 0;
        right: 0;
        height: 25vh;
        z-index: 99999;
        width: 0%;
        flex-direction: column;
        border-radius: 20px;
        padding: 20px 0px;
        overflow: hidden;
        transition: 0.5s;
        justify-content: center;
    }

    .buttonMenu.abrir-menu ~ .overlay-menu{
        display: block;
    }

    .overlay-menu{
        display: none;
    }

    .buttonMenu.abrir-menu{
        width: 30%;
    }

    .buttonMenu > nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .buttonMenu > nav > a {
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        padding: 8px;
        display: block;
    }

    .buttonMenu > nav > a:hover {
        color: #000;
        font-weight: 200;
        font-size: 18px;
        background-color: #ffffff;
        transition: 0.5s;
    }
    
    header > nav {
        display: none;
    }

    main{
        flex-direction: column;
        margin-top: 34px;
        margin-bottom: 126px;
        height: auto;
    }

    .inicio {
        width: 90%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .programador {
        width: 95%;
    }

    .saudacao {
        width: 80%;
        align-items: center;
        height: 378px;
        margin-top: 10px;
        justify-content: space-between;
    }

    .title {
        width: 300px;
        height: 127px;
        margin-bottom: 0px;
    }
    .title > h3 {
        font-size: 15px;
    }
    .bigTitle {
        font-size: 36px;
    }

    .button {
        width: 238px;
        height: 51px;
        margin-bottom: 0px;
    }
    
    .button > a {
        font-size: 17px;
        font-weight: 500;
    }

    #sobre > span {
        width: 341px;
        margin-bottom: 26px;
    }

    .icon {
        background-image: url('/img/icon-mobile.svg');
        width: 90px;
        height: 90px;
    }

    #sobre > span > h1{
        font-size: 32px;
    }

    #sobre > h3 {
        width: 341px;
        font-size: 16px;
    }
    
    .hardskills{
        grid-template-columns: repeat(2, auto);
        /* repeat(nº repetições, oq vai repetir) */
        gap: 27px 100px;
        margin-top: 30px;
        margin-bottom: 81px;
    }

    .titleHard {
        gap: 0px;
        margin-bottom: 0px;
    }
    .titleHard > h1 {
        font-size: 32px;
    }

    .hard{
        width: 120px;
        gap: 0px;
        margin-bottom: 0px;
    }

    .hard > h3 {
        font-size: 20px;
        text-align: left;
    }
    
    .circles{
        gap: 5px;
    }

    .circlefull{
        width: 20px;
        height: 20px;
    }
    
    .circle {
        width: 20px;
        height: 20px;
    }
    
    .jobs {
        width: 100%;
        gap: 0px;
        align-items: center;
        flex-direction: column;
        margin-bottom: 19px;
    }
    
    .titlePort > h1{
        font-size: 32px;
        margin-top: -42px;
        margin-left: 75px;
    }
    
    .jobs > h1 {
        font-size: 32px;
    }
    
    .jobs > h3 {
        text-align: center;
        font-size: 14px;
        width: 90%;
        margin-bottom: 0px;
    }
    .cards {
        grid-template-columns: repeat(2, auto);
        gap: 20px 20px;
        margin-bottom: 82px;
    }
    
    .cards > nav{
        width: 100%;
        display: flex;
        height: 39px;
        gap: 5px;
        margin-bottom: 0px;
        justify-content: center;
        
    }
    
    .cards > nav > a {
        padding: 10px 10px;
        font-size: 16px;
    }

    .card1 {
        width: 180px;
        height: 180px;
    }

    .card2 {
        width: 180px;
        height: 180px;
        margin-bottom: 0px;
    }
    .card3 {
        width: 180px;
        height: 180px;
    }
    .card4 {
        width: 180px;
        height: 180px;
        margin-top: 0px;
    }
    .card5 {
        width: 180px;
        height: 180px;
    }
    .card6 {
        width: 180px;
        height: 180px;
        margin-top: 0px;
    }
    
    #servicos > h1 {
        font-size: 32px;
        margin-bottom: 31px;
        gap: 8px;
    }
    
    .asideTitle > h1{
        font-size: 32px;
    }
    
    #servicos > img {
        height: 106px;
    }
    
    #servicos > h4 {
        display: flex;
        font-size: 24px;
        gap: 10px;
        margin-bottom: 29px;
    }
    
    #servicos > p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .useTitle {
        font-size: 24px;
    }
    
    .icons {
        gap: 25px;
        margin-bottom: 31px;
    }

    .icons > img {
        width: 60px;
    }

    #resumo {
        margin-top: 116px;
        margin-bottom: 64px;

    }
    
    #resumo > span {
        flex-direction: column-reverse;
        width: 420px;
        margin-bottom: 61px;
    }
    
    #resumo > span > p {
        text-align: center;
        width: 99%;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0px;
    }
    
    #resumo > span > h1 {
        display: flex;
        font-size: 32px;
        gap: 10px;
        align-self: center;
    }
    
    .titleResumo > h1 {
        font-size: 32px;
        margin-top: 0px;

    }
    
    .cargos {
        flex-direction: column;
        gap: 30px;
        height: 621px;
        justify-content: center;
        margin-bottom: 52px;
        align-items: center;
    }
    
    .cargo {
        width: 350px;
        height: 187px;
        margin-bottom: 0px;
        align-items: center;
        justify-content: center;
    }
    
    .cargo > h3 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 21px;
    }
    
    .cargo > p {
        width: 300px;
        font-size: 16px;
    }
    
    .cargo2 {
        width: 350px;
        height: 187px;
        margin-top: 0px;
        justify-content: center;
    }
    
    .cargo2 > h3 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 21px;
    }
    
    .cargo2 > p {
        width: 300px;
        font-size: 16px;
    }
    
    .aspas {
        width: 60px;
        height: 60px;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    
    .nota {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        gap: 6px;
        justify-content: center;
        align-items: center;
    }
    
    .nota > h3{
        display: flex;
        font-size: 16px;
        color: #445964;
    }
    
    .dark > h3{
        font-size: 16px;
    }
    
    .frase > h3 {
        font-size: 16px;
    }
    
    .author {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        margin-top: 18px;
        margin-bottom: 64px;
    }

    #contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 29px;
        background-color: #263138;
    }
    
    .nomeContato {
        display: flex;
        width: 228px;
        height: 96px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 29px;
        gap: 22px;
    }
    
    .nomeContato > span {
        width: 228px;
    }
    
    .nomeContato > span > h2 {
        font-size: 24px;
    }
    
    #contato > p {
        font-size: 14px;
        width: 214px;
        margin-bottom: 29px;
        text-align: center;
    }
    
    .nomeContato > .links {
        width: 130px;
    }

    .links{
        height: 30px;
    }

    .links > a > img {
        height: 30px;
    }

}